<div class="layout-aside d-flex flex-column">
  <div class="mt-3 d-flex justify-content-center" style="font-size: 27px">
    <img src="../../../assets/img/logo-v2.svg">
  </div>

  <div class="mt-4 px-4">
    <nz-input-group nzSuffixIcon="anticon anticon-search">
      <input type="text" nz-input placeholder="搜索全部">
    </nz-input-group>
  </div>

  <div class="my-3 d-flex flex-column list">
    <div (click)="select(0)" [class.selected]="selected==0" class="py-1 d-flex align-items-center selected item">
      <a [class.bar]="selected==0" class="left bar"></a>
      <a><i class="anticon anticon-clock-circle mr-3" style="font-size: 18px"></i></a>
      <a>最近</a>
    </div>
  </div>

  <div class="mx-4 line"></div>

  <div class="my-3 d-flex flex-column list">
    <div (click)="select(1)" [class.selected]="selected==1" class="py-1 d-flex align-items-center selected item">
      <a [class.bar]="selected==1" class="left bar"></a>
      <a><i class="fa fa-file-text mr-3" style="font-size: 18px" aria-hidden="true"></i></a>
      <a>全部</a>
    </div>
    <div (click)="select(2)" [class.selected]="selected==2" class="py-1 d-flex align-items-center selected item">
      <a [class.bar]="selected==2" class="left bar"></a>
      <a><i class="fa fa-database mr-3" style="font-size: 18px" aria-hidden="true"></i></a>
      <a>文档</a>
    </div>
    <div (click)="select(3)" [class.selected]="selected==3" class="py-1 d-flex align-items-center selected item">
      <a [class.bar]="selected==3" class="left bar"></a>
      <a><i class="fa fa-file-image-o mr-3" style="font-size: 18px" aria-hidden="true"></i></a>
      <a>图片</a>
    </div>
    <div (click)="select(4)" [class.selected]="selected==4" class="py-1 d-flex align-items-center selected item">
      <a [class.bar]="selected==4" class="left bar"></a>
      <a><i class="fa fa-file-video-o mr-3" style="font-size: 18px" aria-hidden="true"></i></a>
      <a>视频</a>
    </div>
    <div (click)="select(5)" [class.selected]="selected==5" class="py-1 d-flex align-items-center selected item">
      <a [class.bar]="selected==5" class="left bar"></a>
      <a><i class="fa fa-file-audio-o mr-3" style="font-size: 18px" aria-hidden="true"></i></a>
      <a>音乐</a>
    </div>
  </div>

  <div class="mx-4 line"></div>

  <div class="my-3 d-flex flex-column list">
    <div [class.selected]="selected==6" class="py-1 d-flex align-items-center selected item">
      <a [class.bar]="selected==6" class="left bar"></a>
      <a><i class="fa fa-star mr-3" style="font-size: 18px" aria-hidden="true"></i></a>
      <a>照片</a>
    </div>
    <div [class.selected]="selected==7" class="py-1 d-flex align-items-center selected item">
      <a [class.bar]="selected==7" class="left bar"></a>
      <a><i class="fa fa-pencil mr-3" style="font-size: 18px" aria-hidden="true"></i></a>
      <a>笔记</a>
    </div>
    <div [class.selected]="selected==8" class="py-1 d-flex align-items-center selected item">
      <a [class.bar]="selected==8" class="left bar"></a>
      <a><i class="fa fa-user mr-3" style="font-size: 20px" aria-hidden="true"></i></a>
      <a>共享组</a>
    </div>
    <div [class.selected]="selected==9" class="py-1 d-flex align-items-center selected item">
      <a [class.bar]="selected==9" class="left bar"></a>
      <a><i class="fa fa-share-alt mr-3" style="font-size: 18px" aria-hidden="true"></i></a>
      <a>分享链接</a>
    </div>
    <div [class.selected]="selected==10" class="py-1 d-flex align-items-center selected item">
      <a [class.bar]="selected==10" class="left bar"></a>
      <a><i class="fa fa-trash mr-3" style="font-size: 20px" aria-hidden="true"></i></a>
      <a>回收站</a>
    </div>
  </div>

  <div class="px-4 mt-auto mb-4">
    <div class="mb-1 d-flex justify-content-between">
      <span style="font-size: 12px; color: #777">已用 {{use | size}} / {{total | size}}</span>
      <span style="font-size: 12px; color: #777">扩容
        <i class="fa fa-angle-right" style="font-size: 15px" aria-hidden="true"></i>
      </span>
    </div>

    <div style="height: 4px;background: #E4E4E4">
      <div [ngStyle]="{'width': (use / total * 100) +  '%'}" style="height: 100%; background: #2980FF"></div>
    </div>

  </div>
</div>

<router-outlet></router-outlet>
