
.action-item {
  cursor: pointer;
}

.action-item-active {
  font-weight: 700;
}

.action-item:hover {
  background: #EAEAEA;
}

.filter {
  color: black;
  text-decoration: none;
}

.file-line {
  height: 56px;
  margin-right: 4rem;
  margin-left: 10px;
}

.file-line:hover {
  background: #F4F4F4;

  label {
    display: inline-block !important;
  }
}

.filter-title {
  height: 40px;
  margin-left: 10px;
  margin-right: calc(4rem + 10px)
}

.filter-title:hover {
  label {
    display: inline-block !important;
  }
}

.item-selected {
  background: #308EFF !important;
  color: #fff !important;
}

.action-button {
  padding: 0 13px;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  border-right: 1px solid #DBDBDB;
}

.action-button:hover {
  background-color: #f3f3f3;
}

.action-group {
  height: 36px;
  line-height: 36px;
  border: 1px solid #DBDBDB;
  background: #fff;
  border-radius: 2px;
  display: flex;
}

::ng-deep .my-checked .ant-checkbox-inner {
  background-color: #fff;
  border-color: #fff;
}

::ng-deep .my-checked .ant-checkbox-inner::after {
  border-color: #1890ff;
}

.list-group-info {
  margin-left: 10px;
  margin-right: 60px;
  text-align: center;
  font-size: 13px;
  color: #777;
  padding: 28px 0;
}

.rename-input {
  height: 24px;
  width: 60%;
  color: black;
  text-indent: 4px
}

.crumb-selected {
  cursor: default;
  font-weight: 700;
}

.empty-box {
  color: #AFB5C1;
  line-height: 32px;
  text-align: center;
}

.no-file {
  height: 160px;
  width: 200px;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.title {
  color: #AFB5C1;
  font-size: 20px;
}

.txt {
  font-size: 18px;
}

::ng-deep .vertical-center-modal {
  display: flex;
  align-items: center;
  justify-content: center;

  .ant-modal-close button:active,
  button:focus,
  button.active,
  button:active:focus {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .ant-modal-footer {
    border-top: none;
  }
}

::ng-deep .vertical-center-modal .ant-modal {
  top: 0;
}

::ng-deep .ant-modal-body {
  padding: 31px 20px 15px;

  .ant-tree {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    border: 1px solid #D2D8DC;
    border-radius: 0 0 2px 2px;
    max-height: 200px;
    box-sizing: border-box;
    overflow: auto;
    padding: 9px 0;
    animation: height-increase .5s ease both;

    li {
      padding: 0;
      margin-top: 5px;
      margin-bottom: 5px;
    }

    .ant-tree-icon__customize {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .ant-tree-node-content-wrapper {
      color: #000 !important;
    }
  }
}
